.block{
background-color: black;
width: 400px;
height: 250px;
position: absolute;
top: 50%;
left: 50%;
margin-left: -200px;
margin-right: -125px;
}
.flag{
    box-shadow: 10px 10px 5px grey;
    position: absolute;
    width: 298px;
    height: 198px;
    border: 1px solid grey;
    background-color: white;
}
.dot{
    background-color: rgb(177, 18, 38);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -60px;
    margin-top: -60px;
}
.container{
    position: relative;
    width: 600px;
    height: 350px;
    left: 60%;
}
.chart{
    display: flex;
    padding: 5px;
    width: 200px;
    height: 200px;
    border: 2px solid rgb(80, 135, 223);
}
.first-bar{
    background-color: aqua;
    width: 40px;
    height: 190px;
}
.second-bar{
    background-color: aqua;
    width: 40px;
    height: 139px;
    position: relative;
    left: 20%;
    margin-left: -25px;
    top: 51px;
}
.third-bar{
    background-color: aqua;
    width: 40px;
    height: 70px;
    position: relative;
    left: 27%;
    top: 120px;
}
.fourth-bar{
    background-color: aqua;
    width: 40px;
    height: 168px;
    position: relative;
    left: 33%;
    top: 22px;
}